@import "tailwindcss";
@theme {
  --color-item-background: 	oklch(30% 0.01 270);
  --color-accent-purple: oklch(70% 0.25 292);
  --color-hover-purple: oklch(60% 0.22 292);
  
}
.is-hidden{
    display: none;
}
/* .is-visible{
    display: block;
} */


.animated-background {
  background-size: 400%;
  animation: gradient-move 20s linear infinite;
}

@keyframes gradient-move {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}